livekit-agents[google]~=1.2
livekit-agents[deepgram]~=1.2
livekit-agents[elevenlabs]~=1.2
livekit-plugins-langchain~=1.1
livekit-agents[silero]~=1.2
python-dotenv
google-genai
pypdf

langgraph
langchain
langchain-community
langchain-google-genai
langchain-pinecone
langchain-ollama
pinecone

Flask
Flask-Cors

livekit-plugins-bey
lizard
